@model GraniteHouse.Models.ViewModel.ShoppingCartViewModel
@{
    ViewData["Title"] = "AppointmentConfirmation";
}

<h2 class="text-info">Appointment Confirmation</h2>
<div class="form-text">
    Your appointment has been submitted. One of our Sales Rep will be in touch shortly. Please feel free to contact!
</div>
<br/>

<partial name="~/Views/Shared/_AppointmentCustomerDetails.cshtml" model="Model.Appointment" />
<br/>
<partial name="~/Views/Shared/_AppointmentProductDetails.cshtml" model="Model.Products" />

<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-success">Back to Products</a>


